# Node.js dependencies
node_modules/

# Build output
dist/
out/

# Log files
*.log

# Windows files
Thumbs.db

# VS Code workspace settings
.vscode/
.vscode-test/

# VS Code test results
coverage/

# Yarn
.yarn/
yarn-error.log

# npm
npm-debug.log
*.tsbuildinfo

**/*.js.map

# Environment variables
